
  .desktop .shpo-the-collection {
    height: 0;
    left: 645px;
    flex-wrap: wrap;
    width: 152px;
  }
  
  .desktop .overlap {
    border: 1px solid;
    border-color: #ffffff;
    height: 40px;
    position: relative;
    width: 150px;
  }
  
  .desktop .text-wrapper-9 {
    
    border-color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 16px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    top: 0;
    margin-top: 100%;
  }