.headerFB
    background-color: red
    text-align: center
    font-weight: bold 
    font-size: 20px
    font-family: "Lexend Deca-Regular", Helvetica
    position: relative
    padding-top: 20px 
    line-height: 4
    &__navbar
        display: flex
        justify-content: space-evenly
        margin-inline: 400px
        text-transform: uppercase
        a
            text-decoration: none
            color: #FEF9F0
            &:hover
                text-decoration: none
                color: #FEF9F0
        
.LoginCart
    position: relative
    width: auto
    display: flex
    justify-content: end
    margin-inline: 200px
    margin-right: 100px
    a
        text-decoration: none
        color: #FEF9F0
        &:hover
            text-decoration: none
            color: #FEF9F0

     