.headerFB
    text-align: center
    font-family: "Lexend Deca-Regular", Helvetica
    background-color: red
    padding-bottom: 30px

    &__friends-box
        align-items: center
        margin-bottom: 50px
        font-size: 30px
        display: flex
        justify-content: center
    &__navbar
        width: 500px
        align-items: center
        display: flex
        justify-content: space-around
        

.headerFB__navbar
        display: flex
        align-content: flex-start
        
        
      