.headerFB
    position: relative
    display: block
    text-align: center
    font-family: "Lexend Deca-Regular", Helvetica
    background-color: red
    padding-bottom: 30px

    &__friends-box
        align-items: center
        margin-bottom: 50px
        font-size: 30px
        display: flex
        justify-content: center

    &__navbar
        display: flex
        justify-content: space-evenly
        font-family: "Lexend Deca-Regular", Helvetica
        line-height: 50px


.instagramblack
    background-color: green
    display: flex
    justify-content: flex-end
    

.LoginCart
    font-family: "Lexend Deca-Regular", Helvetica
    display: flex
    justify-content: flex-end
    margin-right: 300px
    padding-bottom: 50px
     