.TextS
    text-align: center
    font-family: "Lexend Deca-Regular", Helvetica
    font-size: 40px
    padding-top: 40px  
    margin-bottom: 15px

.TheB
    text-align: center
    position: absolute
    
    font-family: "Lexend Deca-Regular", Helvetica
    font-size: 40px
    line-height: 2em
    display: flex
    flex-flow: wrap
    flex-direction: column
    justify-content: start

    &__BRAND
        line-height: 1.7em
        font-family: "Lexend Deca-Regular", Helvetica
        font-size: 16px
        display: flex
        justify-content: start
        width: 700px
        height: 600px
.BImg 
    display: flex
    justify-content: end
    

.TheD
    text-align: center
    position: absolute
    margin-left: 800px 
    width: 700px
    font-family: "Lexend Deca-Regular", Helvetica
    font-size: 40px
    line-height: 2em
    display: flex
    flex-direction: column
    justify-content: flex-end

    &__DESIGNERS
        line-height: 1.7
        padding-bottom: 50px
        font-family: "Lexend Deca-Regular", Helvetica
        text-align: center
        font-size: 16px
        display: flex
        flex-flow: wrap
        flex-direction: column
        justify-content: flex-end
.DImg 
    display: flex
    justify-content: start
    

    
    
    
    
    
