.TextS
    text-align: center
    font-family: "Lexend Deca-Regular", Helvetica
    font-size: 40px

.TheB
    text-align: center
    position: absolute
    width: 700px
    height: 600px
    background-color: blue
    font-family: "Lexend Deca-Regular", Helvetica
    font-size: 40px
    line-height: 2em
    display: flex
    flex-flow: wrap
    flex-direction: column


    &__BRAND
        line-height: 1.7em
        padding-bottom: 50px
        font-family: "Lexend Deca-Regular", Helvetica
        text-align: center
        font-size: 16px
        display: flex
        flex-flow: wrap
        flex-direction: column
.BImg 
    background-color: black
    padding: 0px
    width: 1200px
    height: 600px
    margin-left: 700px
    display: flex
    justify-content: center
    align-content: space-between

.TheD
    text-align: center
    position: absolute
    margin-left: 1200px
    width: 700px
    height: 600px
    background-color: green
    font-family: "Lexend Deca-Regular", Helvetica
    font-size: 40px
    line-height: 2em
    display: flex
    flex-flow: wrap
    flex-direction: column

    &__DESIGNERS
        line-height: 1.7em
        padding-bottom: 50px
        font-family: "Lexend Deca-Regular", Helvetica
        text-align: center
        font-size: 16px
        display: flex
        flex-flow: wrap
        flex-direction: column
.DImg 
    background-color: red
    height: 601px
    width: 1802px
    margin-left: 0px
    display: flex
    justify-content: center
    align-content: space-between
    
    
