.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    height: 100px;
    position: relative;
    width: 1440px;
  }

  .desktop .headerFB {
    background-color: #554b81;
    height: 115px;
    display: flex;
    width: 1440px;
  }
  
  .desktop .friends-box {
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 645px;
    letter-spacing: 0;
    
    position: absolute;
    
  }
  
  .desktop .navbar {
    height: 20px;
    left: 473px;
    position: absolute;
    top: 87px;
    width: 509px;
  }
  
  .desktop .text-wrapper {
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .desktop .text-wrapper-2 {
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 93px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .desktop .text-wrapper-3 {
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 202px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .desktop .text-wrapper-4 {
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 321px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .desktop .text-wrapper-5 {
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 437px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .Bhome {
    border-color: #554b81;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 16px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    top: 0;
    
  }