$font-stack: Lexend Deca-Regular, Helvetica
$menu-color: rgba(255, 255, 255, 0.8)
$back-color: #3c3d41
$text-color: rgba(255,255,255,1.00)
    
.search 
    position: absolute
    top: 25px
    width: 149px
    border-radius: solid 

.iwwa-search 
    height: 20px
    left: -1px
    position: absolute
    top: 4px
    width: 20px
  
.overlap-group 
    
    border-bottom-style: solid
    border-bottom-width: 1px
    border-color: #fefefe
    height: 30px
    position: relative
    width: 150px
    margin-top: 50px 
    margin-left: 50px 

.input 
    background: transparent
    border: #554b81
    color: #ffffff
    font-family: "Lexend Deca-Regular", Helvetica
    font-size: 10px
    font-weight: 400
    left: 25px
    letter-spacing: 0
    line-height: normal
    padding: 0
    position: absolute
    top: 9px
    
    &__window
        
    &__input 
        width: 250px
        height: 10px
        padding: 10px
        padding-left: 19px
        background: none
        outline: none
        resize: none
        font: $font-stack
        border: 0
        border-bottom: 2px solid $menu-color
        background-color: $menu-color
        &:focus
            background-color: $back-color
            border: 0
            border-bottom: 2px solid $text-color
    &__img
        height: 20px
        left: -1px
        position: absolute
        top: 4px
        width: 20px

