.contact .slogan {
    text-align: center;
    background-color: #ffffff;
    color: #000;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: normal;
    padding: 10px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.contact .service {
    text-align: center;
    background-color: #619c39;
    color: #000;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: normal;
    padding: 25px;
}

* {
    margin: 0;
    padding: 0;
}
  
.contact .wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
  }
  
.contact .wrap__col {
    text-align: center;
    background-color: #619c39;
    color: #fff;
    width: 32%;
    margin-top: 7px;
}
  
.contact .wrap :nth-child(3n+2) {
    margin: 0% 2%;
}
  
.contact .wrap__col:last-child {
    margin-right: 0;
}

.contact .Mail {
    text-align: center;
    background-color: #619c39;
    color: #000;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: normal;
    padding: 60px;
    text-align: center;
}

.contact .Inquarise {
    width: 700px;
    margin-left: 550px;
    margin-top: 10px;
}

form.form {
    display: flexbox;
    flex-wrap: wrap;
    margin-top: 25px;
  }
  
  div.form {
    display: flexbox;
    flex-wrap: wrap;
    margin-top: 25px;
  }
  
  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
  }
  
  label {
    padding-right: 10px;
  }