.desktopLC {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    height: 100px;
    position: relative;
    width: 1440px;
  }
  
  .desktop .group {
    height: 27px;
    left: 1213px;
    position: absolute;
    top: 30px;
    width: 178px;
  }
  
  .desktop .text-wrapper-6 {
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .desktop .text-wrapper-7 {
    color: #ffffff;
    font-family: "Lexend Deca-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 99px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
  }
  
  
  
  
  
  
